{% extends 'blog/mainpage.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

<style>
    @import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    :root {
      --c-text-primary: #282a32;
      --c-text-secondary: #686b87;
      --c-text-action: #404089;
      --c-accent-primary: #434ce8;
      --c-border-primary: #eff1f6;
      --c-background-primary: #ffffff;
      --c-background-secondary: #fdfcff;
      --c-background-tertiary: #ecf3fe;
      --c-background-quaternary: #e9ecf4;
    }
    
    body {
      line-height: 1.5;
      min-height: 100vh;
      font-family: "Be Vietnam Pro", sans-serif;
      background-color: var(--c-background-secondary);
      color: var(--c-text-primary);
    }
    
    img {
      display: block;
      max-width: 100%;
    }
    
    :focus {
      outline: 0;
    }
    
    .responsive-wrapper {
      width: 90%;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
    }
    
    .header {
      display: flex;
      align-items: center;
      height: 80px;
      border-bottom: 1px solid var(--c-border-primary);
      background-color: var(--c-background-primary);
    }
    
    .header-content {
      display: flex;
      align-items: center;
    }
    .header-content > a {
      display: none;
    }
    @media (max-width: 1200px) {
      .header-content {
        justify-content: space-between;
      }
      .header-content > a {
        display: inline-flex;
      }
    }
    
    .header-logo {
      margin-right: 2.5rem;
    }
    .header-logo a {
      display: flex;
      align-items: center;
    }
    .header-logo a div {
      flex-shrink: 0;
      position: relative;
    }
    .header-logo a div:after {
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: auto;
      right: 0;
      bottom: 0;
      overflow: hidden;
      height: 50%;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: rgba(255, 255, 255, 0.2);
      -webkit-backdrop-filter: blur(4px);
              backdrop-filter: blur(4px);
    }
    
    .header-navigation {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
    }
    @media (max-width: 1200px) {
      .header-navigation {
        display: none;
      }
    }
    
    .header-navigation-links {
      display: flex;
      align-items: center;
    }
    .header-navigation-links a {
      text-decoration: none;
      color: var(--c-text-action);
      font-weight: 500;
      transition: 0.15s ease;
    }
    .header-navigation-links a + * {
      margin-left: 1.5rem;
    }
    .header-navigation-links a:hover, .header-navigation-links a:focus {
      color: var(--c-accent-primary);
    }
    
    .header-navigation-actions {
      display: flex;
      align-items: center;
    }
    .header-navigation-actions > .avatar {
      margin-left: 0.75rem;
    }
    .header-navigation-actions > .icon-button + .icon-button {
      margin-left: 0.25rem;
    }
    .header-navigation-actions > .button + .icon-button {
      margin-left: 1rem;
    }
    
    .button {
      font: inherit;
      color: inherit;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 1em;
      height: 40px;
      border-radius: 8px;
      line-height: 1;
      border: 2px solid var(--c-border-primary);
      color: var(--c-text-action);
      font-size: 0.875rem;
      transition: 0.15s ease;
      background-color: var(--c-background-primary);
    }
    .button i {
      margin-right: 0.5rem;
      font-size: 1.25em;
    }
    .button span {
      font-weight: 500;
    }
    .button:hover, .button:focus {
      border-color: var(--c-accent-primary);
      color: var(--c-accent-primary);
    }
    
    .icon-button {
      font: inherit;
      color: inherit;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      color: var(--c-text-action);
      transition: 0.15s ease;
    }
    .icon-button i {
      font-size: 1.25em;
    }
    .icon-button:focus, .icon-button:hover {
      background-color: var(--c-background-tertiary);
      color: var(--c-accent-primary);
    }
    
    .avatar {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      overflow: hidden;
    }
    
    .main-header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    .main-header h1 {
      font-size: 1.75rem;
      font-weight: 600;
      line-height: 1.25;
    }
    @media (max-width: 550px) {
      .main-header h1 {
        margin-bottom: 1rem;
      }
    }
    
    .search {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 340px;
    }
    .search input {
      font: inherit;
      color: inherit;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 1em 0 36px;
      height: 40px;
      border-radius: 8px;
      border: 2px solid var(--c-border-primary);
      color: var(--c-text-action);
      font-size: 0.875rem;
      transition: 0.15s ease;
      width: 100%;
      line-height: 1;
    }
    .search input::-moz-placeholder {
      color: var(--c-text-action);
    }
    .search input:-ms-input-placeholder {
      color: var(--c-text-action);
    }
    .search input::placeholder {
      color: var (--c-text-action);
    }
    .search input:focus, .search input:hover {
      border-color: var(--c-accent-primary);
    }
    .search button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 0;
      background-color: transparent;
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.25em;
      color: var(--c-text-action);
      padding: 0;
      height: 40px;
    }
    
    .horizontal-tabs {
      margin-top: 1.5rem;
      display: flex;
      align-items: center;
      overflow-x: auto;
    }
    @media (max-width: 1000px) {
      .horizontal-tabs {
        scrollbar-width: none;
        position: relative;
      }
      .horizontal-tabs::-webkit-scrollbar {
        display: none;
      }
    }
    .horizontal-tabs a {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      height: 48px;
      padding: 0 0.25rem;
      font-weight: 500;
      color: inherit;
      border-bottom: 3px solid transparent;
      text-decoration: none;
      transition: 0.15s ease;
    }
    .horizontal-tabs a:hover, .horizontal-tabs a:focus, .horizontal-tabs a.active {
      color: var(--c-accent-primary);
      border-bottom-color: var(--c-accent-primary);
    }
    .horizontal-tabs a + * {
      margin-left: 1rem;
    }
    
    .content-header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-top: 3rem;
      margin-top: -1px;
      border-top: 1px solid var(--c-border-primary);
    }
    
    .content-header-intro h2 {
      font-size: 1.25rem;
      font-weight: 600;
    }
    .content-header-intro p {
      color: var(--c-text-secondary);
      margin-top: 0.25rem;
      font-size: 0.875rem;
      margin-bottom: 1rem;
    }
    
    @media (min-width: 800px) {
      .content-header-actions a:first-child {
        display: none;
      }
    }
    
    .content {
      border-top: 1px solid var(--c-border-primary);
      margin-top: 2rem;
      display: flex;
      align-items: flex-start;
    }
    
    .content-panel {
      display: none;
      max-width: 280px;
      width: 25%;
      padding: 2rem 1rem 2rem 0;
      margin-right: 3rem;
    }
    @media (min-width: 800px) {
      .content-panel {
        display: block;
      }
    }
    
    .vertical-tabs {
      display: flex;
      flex-direction: column;
    }
    .vertical-tabs a {
      display: flex;
      align-items: center;
      padding: 0.75em 1em;
      background-color: transparent;
      border-radius: 8px;
      text-decoration: none;
      font-weight: 500;
      color: var(--c-text-action);
      transition: 0.15s ease;
    }
    .vertical-tabs a:hover, .vertical-tabs a:focus, .vertical-tabs a.active {
      background-color: var(--c-background-tertiary);
      color: var(--c-accent-primary);
    }
    .vertical-tabs a + * {
      margin-top: 0.25rem;
    }
    
    .content-main {
      padding-top: 2rem;
      padding-bottom: 6rem;
      flex-grow: 1;
    }
    
    .card-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      -moz-column-gap: 1.5rem;
           column-gap: 1.5rem;
      row-gap: 1.5rem;
    }
    @media (min-width: 600px) {
      .card-grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media (min-width: 1200px) {
      .card-grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    
    .card {
      background-color: var(--c-background-primary);
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
    
    .card-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 1.5rem 1.25rem 1rem 1.25rem;
    }
    .card-header div {
      display: flex;
      align-items: center;
    }
    .card-header div span {
      width: 40px;
      height: 40px;
      border-radius: 8px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    .card-header div span img {
      max-height: 100%;
    }
    .card-header div h3 {
      margin-left: 0.75rem;
      font-weight: 500;
    }
    
    .toggle span {
      display: block;
      width: 40px;
      height: 24px;
      border-radius: 99em;
      background-color: var(--c-background-quaternary);
      box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
      position: relative;
      transition: 0.15s ease;
    }
    .toggle span:before {
      content: "";
      display: block;
      position: absolute;
      left: 3px;
      top: 3px;
      height: 18px;
      width: 18px;
      background-color: var(--c-background-primary);
      border-radius: 50%;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
      transition: 0.15s ease;
    }
    .toggle input {
      clip: rect(0 0 0 0);
      -webkit-clip-path: inset(50%);
              clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
    .toggle input:checked + span {
      background-color: var(--c-accent-primary);
    }
    .toggle input:checked + span:before {
      transform: translateX(calc(100% - 2px));
    }
    .toggle input:focus + span {
      box-shadow: 0 0 0 4px var(--c-background-tertiary);
    }
    
    .card-body {
      padding: 1rem 1.25rem;
      font-size: 0.875rem;
    }
    
    .card-footer {
      margin-top: auto;
      padding: 1rem 1.25rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-top: 1px solid var(--c-border-primary);
    }
    .card-footer a {
      color: var(--c-text-action);
      text-decoration: none;
      font-weight: 500;
      font-size: 0.875rem;
    }
    
    html::-webkit-scrollbar {
      width: 12px;
    }
    html::-webkit-scrollbar-thumb {
      background-color: var(--c-text-primary);
      border: 4px solid var(--c-background-primary);
      border-radius: 99em;
    }
    
   /* Create task */
.popup-form {
    display: none;
    
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Darker background for better focus */
    overflow: auto;
    
}
/* This is about the information on the box */
.form-content {
    background-color: #ddddec;
    margin: 10% auto; /* Lower the top margin for better placement */
    padding: 30px; /* Increased padding for better spacing */
    border-radius: 5px; /* Softer corners */
    border: #c0c3bc;
    width: 60%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Added shadow for depth */
    position: relative; /* For positioning the close button */
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #333;
    text-decoration: none;
}

.form-content label {
    display: block;
    margin-top: 15px;
    /* font-weight: bold; */
    color: #333; /* Darker text for better contrast */
}

.form-content input[type="text"],
.form-content input[type="date"],
.form-content textarea {
    width: calc(100% - 22px);
    padding: 7px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.form-content textarea {
    resize: vertical; /* Allow vertical resizing */
}

.form-content input[type="submit"] {
    background-color: #434ce8;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.form-content input[type="submit"]:hover {
    background-color: #333cad; /* Darker shade for hover effect */
}

.form-content input[type="submit"]:active {
    background-color: #282a7a; /* Even darker shade for active state */
}


select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><path fill="%23333" d="M0 0l5 5 5-5z"/></svg>') no-repeat right 10px center;
        background-size: 10px;
    }

#task-priority, #task-status, #assigned-team{
  width: 50%;
  padding: 1%;
  border-radius: 5px;
  border: 10px;
  background-color: rgb(255, 255, 255);


}


/* time line */

.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .timeline-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
  }

  .timeline-label {
    font-size: 12px;
  }

  .start-label {
    text-align: left;
  }

  .end-label {
    text-align: right;
  }

  .timeline {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    position: relative;
  }

  .progress {
    background-color: #4caf50;
    height: 100%;
  }

  .card-footer a {
    text-decoration: none;
    color: #007bff;
  }

  .card-footer a:hover {
    text-decoration: underline;
  }

</style>

<main class="main">
    <div class="responsive-wrapper">
        <div class="content-header">
            <div class="content-header-intro">
                <h2>Integrations and connected apps</h2>
                <p>Supercharge your workflow and connect the tool you use every day.</p>
            </div>
            <div class="content-header-actions">
                <a href="#" class="button">
                    <i class="ph-faders-bold"></i>
                    <span>Filters</span>
                </a>
                <div class="main-header">
                    <div class="search">
                        <input type="text" placeholder="Search" />
                        <button type="submit">
                            <i class="ph-magnifying-glass-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="card-grid">
					<article class="card">
						<div class="card-header">
							<div>
								<span><img src="https://assets.codepen.io/285131/zeplin.svg" /></span>
								<h3>Create Website</h3>
							</div>
							<label class="toggle">
								<input type="checkbox" checked>
								<span></span>
							</label>
						</div>
						<div class="card-body">
							<p>Memebers: Fadhel, Ali, Mohammed</p>
              <p>Start date: 02/03/2020</p>
              <p>End date: 02/07/2020</p>
              <div class="timeline-container">
                <div class="timeline-labels">
                  <span class="timeline-label start-label">Start Project</span>
                  <span class="timeline-label end-label">End Project</span>
                </div>
                <div class="timeline">
                  <div class="progress" style="width: 50%;"></div> <!-- Adjust width based on progress -->
                </div>
              </div>
						</div>
						<div class="card-footer">
							<a href="#">View integration</a>
						</div>
					</article>
        </div>
       
            
        </div>
    </div>
</main>

<script src='https://unpkg.com/phosphor-icons'></script>
<script src="{% static 'path/to/your/script.js' %}"></script>

{% endblock %}
