{% extends 'blog/base_generic.html' %}
{% load static %}

{% block content %}
<style>
  @import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap");
  :root {
    --c-text-primary: #282a32;
    --c-text-secondary: #686b87;
    --c-text-action: #404089;
    --c-accent-primary: #434ce8;
    --c-border-primary: #eff1f6;
    --c-background-primary: #ffffff;
    --c-background-secondary: #fdfcff;
    --c-background-tertiary: #ecf3fe;
    --c-background-quaternary: #e9ecf4;
  }
  
  .filter-input, .filter-By_date input[type="date"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  .filter-input:hover, .filter-input:focus, .filter-By_date input[type="date"]:hover, .filter-By_date input[type="date"]:focus {
    border-color: #00a3e0;
    box-shadow: 0 0 8px rgba(0, 163, 224, 0.3);
  }

  .download-btn, .filter-By_date button {
    padding: 6px 20px;
    font-size: 16px;
    background-color: #00a3e0;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border: none;
  }

  .download-btn:hover, .filter-By_date button:hover {
    background-color: #007ba7;
    box-shadow: 0 0 8px rgba(0, 163, 224, 0.3);
  }

  .table-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    min-height: 400px;
    position: relative;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  th:nth-child(1), td:nth-child(1) { width: 3%; }
  th:nth-child(2), td:nth-child(2) { width: 10%; }
  th:nth-child(3), td:nth-child(3) { width: 5%; }
  th:nth-child(4), td:nth-child(4) { width: 10%; }
  th:nth-child(5), td:nth-child(5) { width: 10%; }
  th:nth-child(6), td:nth-child(6) { width: 15%; }
  th:nth-child(7), td:nth-child(7) { width: 15%; }
  th:nth-child(8), td:nth-child(8) { width: 10%; }
  th:nth-child(9), td:nth-child(9) { width: 10%; }
  th:nth-child(10), td:nth-child(10) { width: 12%; }



   
  .card {
    position: relative; /* Add this to position the pseudo-element */
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1;
    overflow: hidden; /* To hide the overflow of the pseudo-element */
  }

  .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 8px; /* Width of the gradient border */
    background: linear-gradient(to bottom, #047adb, #7bbb0e); /* Your gradient colors */
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }


/*   
  .card {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  } */

  .card-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #00a3e0;
  }

  .card-content {
    font-size: 1em;
    color: #333;
  }

  .cards-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
  }

  .highlight-count {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #00a3e0;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #00a3e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #00a3e0, #7bbb0e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (max-width: 768px) {
    .card {
      flex: 1 1 100%;
    }

    .cards-container {
      flex-wrap: wrap;
    }
  }

  .more-link {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 12px;
    background-color: #0056b3;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    display: inline-block;
  }

  .more-link:hover {
    text-decoration: none;
    color: #0056b3;
    background-color: #ffffff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
</style>

<h1 style="
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-bottom: 3%;
  font-size: 3.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-top: 2%;
  background: linear-gradient(to right, #047adb, #7bbb0e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
">
  eHighlight Records
</h1>

<div class="but" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
  <div class="filter-By_date">
    <input type="text" id="filterInput" placeholder="Type to filter records..." class="filter-input">        
  </div>
  <div class="filter-By_date">
    <input type="date" id="startDate" placeholder="Start Date">
    <input type="date" id="endDate" placeholder="End Date">
    <button id="filterButton">Filter</button>
  </div>
  <div class="filter-By_date">
    <a href="{% url 'download_records_excel' %}" class="btn btn-primary download-btn">Download as Excel</a>
  </div>
</div>

<div class="card-all">
  <div class="cards-container">
    <div class="card">
      <div class="hed" style="display: flex; justify-content: space-between;">
        <div class="card-title" style="font-size: 16px;">SACU 1</div>
      </div>
      <div class="card-content" style="text-align: center; font-size: 25px; color: #00a3e0;">
        {{ sacu_1_count }}
      </div>
    </div>
    <div class="card">
      <div class="hed" style="display: flex; justify-content: space-between;">
        <div class="card-title" style="font-size: 16px;">SACU 2</div>
        <img src="{% static 'q.png' %}" alt="Logo" style="height: 40px;">
      </div>
      <div class="card-content" style="text-align: center; font-size: 25px; color: #00a3e0;">
        {{ sacu_2_count }}
      </div>
    </div>
    <div class="card">
      <div class="hed" style="display: flex; justify-content: space-between;">
        <div class="card-title" style="font-size: 14px;">SACU 3</div>
        <img src="{% static 'q.png' %}" alt="Logo" style="height: 40px;">
      </div>
      <div class="card-content" style="text-align: center; font-size: 25px; color: #00a3e0;">
        {{ sacu_3_count }}
      </div>
    </div>
    <div class="card">
      <div class="hed" style="display: flex; justify-content: space-between;">
        <div class="card-title" style="font-size: 14px;">HSE Group</div>
        <img src="{% static 'q.png' %}" alt="Logo" style="height: 40px;">
      </div>
      <div class="card-content" style="text-align: center; font-size: 25px; color: #00a3e0;">
        {{ HSE_Group }}
      </div>
    </div>
  </div>

  <div class="cards-container py-4">
    <div class="card">
      <div class="hed" style="display: flex; justify-content: space-between;">
        <div class="card-title" style="font-size: 16px;">Surveyor Group</div>
      </div>
      <div class="card-content" style="text-align: center; font-size: 25px; color: #00a3e0;">
        {{ Surveyor_Group }}
      </div>
    </div>
    <div class="card">
      <div class="hed" style="display: flex; justify-content: space-between;">
        <div class="card-title" style="font-size: 14px;">Waste Management Group</div>
        <img src="{% static 'q.png' %}" alt="Logo" style="height: 40px;">
      </div>
      <div class="card-content" style="text-align: center; font-size: 25px; color: #00a3e0;">
        {{ Waste_Management_Group }}
      </div>
    </div>
    <div class="card">
      <div class="hed" style="display: flex; justify-content: space-between;">
        <div class="card-title" style="font-size: 14px;">Engineering Support</div>
        <img src="{% static 'q.png' %}" alt="Logo" style="height: 40px;">
      </div>
      <div class="card-content" style="text-align: center; font-size: 25px; color: #00a3e0;">
        {{ Engineering_Support }}
      </div>
    </div>
    <div class="card">
      <div class="hed" style="display: flex; justify-content: space-between;">
        <div class="card-title" style="font-size: 14px;">Dispatcher Group</div>
        <img src="{% static 'q.png' %}" alt="Logo" style="height: 40px;">
      </div>
      <div class="card-content" style="text-align: center; font-size: 25px; color: #00a3e0;">
        {{ Dispatcher_Group }}
      </div>
    </div>
  </div>
</div>

<div class="container" style="font-size: 12px;">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 4%;">#</th>
                <th scope="col">Date</th>
                <th scope="col">Week</th>
                <th scope="col">Cost</th>
                <th scope="col">Unit</th>
                <th scope="col">Highlight Type</th>
                <th scope="col">Wellsite Activity</th>
                <th scope="col">Document</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody id="recordsTable">
              {% for record in records %}
              <tr style="font-size: 14px;">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ record.date }}</td>
                <td>{{ record.week }}</td>
                <td>{{ record.Cost }}</td>
                <td>{{ record.unit }}</td>
                <td>{{ record.highlight_type }}</td>
                <td>{{ record.wellsite_activity }}</td>
                <td>
                  {% if record.document %}
                  <a href="{{ record.document.url }}">Download</a>
                  {% else %}
                  No Document
                  {% endif %}
                </td>
                <td><a href="{% url 'eHighlight_Record_detail' record.pk %}" class="more-link">more</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-4">
  <h1 class="highlight-count">Count of Highlights: {{ all_records_count }}</h1>
</div>

<h2>Monthly Record Counts</h2>
<ul>
  {% comment %} {% for month, count in monthly_counts.items %}
      <li>{{ month }}: {{ count }}</li>
  {% endfor %} {% endcomment %}
</ul>

<div class="chart-container" style="width: 80%; margin: auto; padding: 20px;">
  <canvas id="highlightsChart"></canvas>
</div>

<script>
  // JavaScript function to filter table rows
  document.getElementById('filterInput').addEventListener('keyup', function() {
    var filter = this.value.toLowerCase();
    var rows = document.getElementById('recordsTable').getElementsByTagName('tr');

    for (var i = 0; i < rows.length; i++) {
      var cells = rows[i].getElementsByTagName('td');
      var match = false;
      for (var j = 0; j < cells.length; j++) {
        if (cells[j].innerText.toLowerCase().includes(filter)) {
          match = true;
          break;
        }
      }
      rows[i].style.display = match ? '' : 'none';
    }
  });

  document.getElementById('filterButton').addEventListener('click', function() {
    var startDate = new Date(document.getElementById('startDate').value);
    var endDate = new Date(document.getElementById('endDate').value);
    var rows = document.getElementById('recordsTable').getElementsByTagName('tr');
    var monthlyCounts = new Array(12).fill(0);

    for (var i = 0; i < rows.length; i++) {
      var cells = rows[i].getElementsByTagName('td');
      var dateCell = cells[0].innerText;
      var rowDate = new Date(dateCell);

      if (rowDate >= startDate && rowDate <= endDate) {
        rows[i].style.display = '';
        monthlyCounts[rowDate.getMonth()]++;
      } else {
        rows[i].style.display = 'none';
      }
    }

    highlightsChart.data.datasets[0].data = monthlyCounts;
    highlightsChart.update();
  });

  const monthlyData = {
    labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
    datasets: [{
      label: "Highlight Counts",
      data: [{{ monthly_counts.January }},{{ monthly_counts.February }},{{ monthly_counts.March }},{{ monthly_counts.April }},{{ monthly_counts.May }},{{ monthly_counts.June }},{{ monthly_counts.July }},{{ monthly_counts.August }},{{ monthly_counts.September }},{{ monthly_counts.October }}, {{monthly_counts.November}},{{ monthly_counts.December }}],
      backgroundColor: "rgba(0, 163, 224, 0.2)",
      borderColor: "#00a3e0",
      borderWidth: 2
    }]
  };

  const ctx = document.getElementById('highlightsChart').getContext('2d');
  const highlightsChart = new Chart(ctx, {
    type: 'line',
    data: monthlyData,
    options: {
      responsive: true,
      scales: {
        x: {
          beginAtZero: true
        },
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

{% endblock %}
