<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Django Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.scss' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
<body>
    {% block content %}
    
<h2>JavaScript Alert</h2>

<button onclick="myFunction()">Try it</button>
    {% endblock %}
    <script src="{% static 'my_app/my_script.js' %}"></script>

</body>
</html>
